@{
    ViewData["Title"] = "Home Page";
}

<h1 style="text-align: center;">Welcome!</h1>
<p>&nbsp;</p>
<p>This is my project that allows messages to be sent to every address in the database. You can edit the database right here, thanks to the power of MVC technology.</p>
<p>On the top of the site you can see a menu, please use that for navigation.</p>
<p>Thank you!&nbsp;</p>